name: github pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    timeout-minutes: 2
    runs-on: ubuntu-18.04
    container:
      image: 'ubuntu:18.04'
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Checkout yuripages
        uses: actions/checkout@v2
        with:
          repository: Yrr0r/yuripages
          path: themes/yuripages

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.80.0"
      # - run: sudo snap install hugo
      - run: hugo version
      - run: hugo --minify
